<% title= 'Раскрытие информации'; %>
<% include partials/start.ejs%>
<body>
<div class="container layout">
    <% breadCrumbsActive = 'Раскрытие информации'; %>
    <% include partials/header.ejs %>

    <% include partials/footer.ejs %>
    <% include partials/modal.ejs %>
</div>

<% include ./partials/end.ejs %>